nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: rgb(181, 17, 17);
  background-color: antiquewhite;
}


.container{
  width: 200px;
  display: flex;
  flex-direction: column;

}


img{
  width: 80px;
  margin: auto;
}
.cardReal{
  width: 300px;
  height: 400px;
  border-radius: 5%;
  background-color: darksalmon;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.Lista{
  display: flex;
  width: 100vw;
}